@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: #fd746c;
    background: -webkit-linear-gradient(to right, #fd746c, #ff9068);
    background: linear-gradient(to right, #fd746c, #ff9068);  */
    /* background-color: #ffe5ce; */
    background-image: url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80");  
    background-repeat:none;
    background-size: cover;
    background-color: #867553;
    background-blend-mode: overlay;
}

.container{

    height:100vh;
    font-family: 'Poppins', sans-seri;
    overflow: hidden;
}
.navbar{
    padding: 0 30px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.button-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.navbar img{
    width: 210px;
}
.navbar a{
    margin-right: 10px;
    width: fit-content;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 102, 0);
    padding: 10px 30px;
    font-weight: bold;
    border: 1 px solid  rgb(255, 102, 0);
    border-radius: 10px;
}
.middle{
    height: 80vh;
    border: 1px solid black;

}
.personal-info-box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    height: 60%;
    width: 70%;
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.photo-section{
    box-shadow: 20px 20px 22px rgba(0,0,0,0.3);
    padding: 30px 80px;
    align-items: center;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
}
.photo-section img{
    max-width: 200px;
    border: 10px solid rgba(0,0,0,0.5);
}
.photo-section p{
  color: wheat;
  text-align: center;
  font-size: 0.8em;
}
.button-sp{
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1em;
    color: white;
    background-color: rgb(255, 102, 0);
    text-align: center;
    padding: 8px 0;
    font-weight: bold;
    border: 1 px solid  rgb(255, 102, 0);
    border-radius: 10px;
}
 .button-sp:hover{
}
.data-section{
    color: seashell;
    padding: 30px 70px;
    box-shadow: 20px 20px 22px rgba(0,0,0,0.3);
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing:3px;
    line-height:95%;
    color: rgb(255, 102, 0);
}
h3{
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 20px;
}
h2{
    font-weight: 100;

}
table{
    font-size: 14px;
}
table td{
  padding-bottom: 10px;
}

td:nth-child(even){
    padding-left: 10px;
    padding-right: 40px;
}
td:nth-child(odd){
    border-left: pink;
}

.footer{
    height: 10vh;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    color: white;
    background-color: rgba(0,0,0,0.3);
}